<!-- views/notes.ejs -->
<!doctype html>
<html>
<head>
	<title>MBiller</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  <link rel="shortcut icon" type="image/png" href="../resources/img/favicon-medkit.ico"/>
	<link rel="stylesheet" type="text/css" href="../build/style.css">
  <style>
    .nav-wrapper {margin: 0 2%;}
    nav {margin-bottom: 40px;}
      body {background: url('../resources/img/stethoscope.jpg');}
  </style>
  <!-- jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

</head>
<body>
  <nav class="blue darken-4">
		<div class="nav-wrapper">
			<a href="/home" class="brand-logo"><img src="../resources/img/logo.png"></a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li>	<a href="/employee"> Employee</a> </li>
				<li>	<a href="/consumers"> Consumers</a></li>
				<li class="active">	<a href="/billing"> Billing</a></li>
				<li>	<a href="/notes"> Notes</a></li>
				<li><a href="/logout">Logout</a></li>
			</ul>
	</nav>
</div>
<div class="container">
  <div class="row">
    <div class="col m4 s12">
      <div class="card">
        <!--   <div class="card-image">
              <img src="../resources/img/example-profile.jpg">
              <span class="card-title"><h3>John Doe</h3></span>
          </div> -->
          <div class="card-content">
              <ul>
                  <li>Logged in as: <strong><%= user.username %></strong></li>
                  <li>Check in time: </li>
                  <li>Current time: </li>
              </ul>
          </div>
          <div class="card-action">
              <a href="/logout" class="waves-effect waves-light expand expand btn blue darken-4">CHECKOUT</a>
          </div>  
      </div>
    </div>
    <div class="col m8 s12">
    <div class="card">
    <div class="card-content">
 <table class="striped">
  <h5 class="center-align" id="billtitle">Billing Report</h5>
        <thead>
          <tr>
          
              <th data-field="id">Client Name</th>
              <th data-field="location">Location</th>
              <th data-field="hours">Hours Billed</th>
              <th data-field="rate">Hourly Rate</th>
              <th data-field="amountDue">Amount Due</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Alvin Harris</td>
            <td>Meadow Hill</td>
            <td>23</td>
            <td>$2</td>
            <td>$46.00</td>
          </tr>
          <tr>
            <td>Alan Jones</td>
            <td>Jellybean Way</td>
            <td>25</td>
            <td>$2</td>
            <td>$50.00</td>
          </tr>
          <tr>
            <td>Jonathan Roberts</td>
            <td>Quik-e-Stop</td>
            <td>244</td>
            <td>$2</td>
            <td>$488.00</td>            
          </tr>
        </tbody>
      </table>
      </div>
      </div>
      </div>
      </div>
</div>
<script type="text/javascript" src='../resources/js/app.js'></script>
</body>
</html>
